version: 2
updates:
  - package-ecosystem: "bun"
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 5

    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
